In [7]:
	
import pandas as pd

# Load each table
consumption = pd.read_csv('/workspaces/CPSC6185-Final-Project/data/raw/recs_annual_household_energy_consumption_and_expenditure.csv')
housing = pd.read_csv('/workspaces/CPSC6185-Final-Project/data/raw/recs_type_of_housing.csv')
income = pd.read_csv('/workspaces/CPSC6185-Final-Project/data/raw/recs_income.csv')
geographic = pd.read_csv('/workspaces/CPSC6185-Final-Project/data/raw/recs_geographic_characteristics.csv')
year_construction = pd.read_csv('/workspaces/CPSC6185-Final-Project/data/raw/recs_year_of_construction.csv')
ac_equipment = pd.read_csv('/workspaces/CPSC6185-Final-Project/data/raw/recs_use_of_ac_and_age_of_ac_equipment.csv')
space_heater = pd.read_csv('/workspaces/CPSC6185-Final-Project/data/raw/recs_use_of_space_heaters_and_age_of_space_heating_equipment.csv')
water_heater = pd.read_csv('/workspaces/CPSC6185-Final-Project/data/raw/recs_age_of_water_heating_equipment.csv')

In [8]:
print(consumption.head())

          STATE  TOTAL_HOUSEHOLDS  TOTAL_ENERGY_CONSUMPTION  \
0      Colorado      2.259861e+06              1.976426e+11
1          Utah      1.039997e+06              9.670222e+10
2         Idaho      6.565110e+05              5.854694e+10
3       Montana      4.333290e+05              3.797194e+10
4  North Dakota      3.155730e+05              2.975081e+10

   ENERGY_CONSUMPTION_PER_HOUSEHOLD  ENERGY_CONSUMPTION_PER_SQFT  \
0                          87457.88                        43.74
1                          92983.17                        43.08
2                          89178.92                        45.09
3                          87628.42                        46.71
4                          94275.53                        46.75

   TOTAL_ENERGY_EXPENDITURE  ENERGY_EXPENDITURE_PER_HOUSEHOLD  \
0              3.031693e+09                           1341.54
1              1.712785e+09                           1646.91
2              9.979737e+08                           1520.12
3              6.547174e+08                           1510.90
4              5.199315e+08                           1647.58

   ENERGY_EXPENDITURE_PER_SQFT
0                         0.67
1                         0.76
2                         0.77
3                         0.81
4                         0.82

In [9]:
print(housing.head())

                  STATE  Total_households  Pct_HOUSING_MOBILE  \
0  District of Columbia          316453.0                0.00
1                Hawaii          474378.0                0.00
2          Rhode Island          418689.0                1.48
3                Alaska          257193.0                4.47
4          North Dakota          315573.0                4.89

   Pct_HOUSING_SINGLE_FAMILY_HOME_DETACHED  \
0                                     8.45
1                                    58.03
2                                    60.03
3                                    61.87
4                                    55.74

   Pct_HOUSING_SINGLE_FAMILY_HOME_ATTACHED  Pct_HOUSING_APT_2_4_UNITS  \
0                                    19.01                       8.58
1                                     7.36                       6.60
2                                     3.33                      16.94
3                                    11.12                      10.01
4                                     7.79                       4.57

   Pct_HOUSING_APT_MORE_THAN_5_UNITS  HOUSING_MOBILE  \
0                              63.95        0.000000
1                              28.00        0.000000
2                              18.23     6178.375051
3                              12.53    11505.936426
4                              27.02    15429.065555

   HOUSING_SINGLE_FAMILY_HOME_DETACHED  HOUSING_SINGLE_FAMILY_HOME_ATTACHED  \
0                         26756.098621                         60167.498381
1                        275283.866867                         34925.923705
2                        251320.379077                         13923.207302
3                        159128.633761                         28589.024728
4                        175888.993335                         24570.601347

   HOUSING_APT_2_4_UNITS  HOUSING_APT_MORE_THAN_5_UNITS
0           27163.008517                  202366.394481
1           31328.713027                  132839.496401
2           70945.522232                   76321.516339
3           25745.341210                   32224.063875
4           14415.742172                   85268.597590

In [10]:
print(income.head())

                  STATE  Total_households  Pct_INCOME_LESS_THAN_5K  \
0               Wyoming      2.261460e+05                     4.33
1         New Hampshire      5.384430e+05                     0.65
2                Hawaii      4.743780e+05                     3.00
3  District of Columbia      3.164530e+05                     6.86
4                  Utah      1.039997e+06                     1.70

   Pct_INCOME_5K_7499  Pct_INCOME_7_5K_9999  Pct_INCOME_10K_12499  \
0                0.89                  0.88                  2.86
1                1.51                  2.72                  1.96
2                1.51                  0.55                  2.67
3                0.75                  2.66                  0.92
4                1.03                  1.29                  1.22

   Pct_INCOME_12_5K_14999  Pct_INCOME_15K_19999  Pct_INCOME_20K_24999  \
0                    0.00                  2.82                  4.55
1                    0.00                  8.06                  4.41
2                    1.06                  2.46                  3.85
3                    1.72                  2.15                  3.18
4                    0.53                  1.68                  6.59

   Pct_INCOME_25K_29999  ...  INCOME_20K_24999  INCOME_25K_29999  \
0                  5.68  ...      10297.157209      12837.399411
1                  1.16  ...      23744.910127       6252.137386
2                  3.19  ...      18280.300065      15156.029112
3                  5.19  ...      10061.351527      16430.307322
4                  2.03  ...      68516.706537      21078.072363

   INCOME_30K_34999  INCOME_35K_39999  INCOME_40K_49999  INCOME_50K_59999  \
0      18551.282267       4106.260010      23067.531927      25487.332946
1      13859.002392      19720.496269      21053.947469      32371.990557
2      19097.313434      13509.091661      28167.578475      45185.204868
3      12284.828544       3877.306139      15013.054703       9304.348737
4      71385.920486      70106.794549      48779.286731      84611.945531

   INCOME_60K_74999  INCOME_75K_99999  INCOME_100K_149999  \
0      30163.434693      22254.634572        35157.129739
1      38352.850457      88561.739833       124425.741096
2      66386.656456      54928.756365        76357.003137
3      25143.150562      32238.910880        44263.912864
4     126303.434911     138290.179471       211643.554724

   INCOME_MORE_THAN_150K
0           17592.322977
1           89832.753464
2           83996.236585
3          100161.167687
4          121875.198583

[5 rows x 34 columns]

In [11]:
print(geographic.head())

      REGION    STATE STATE_CODE CLIMATE URBAN_RURAL
0  NORTHEAST    Maine         ME    Cold  Rural Area
1  NORTHEAST  Vermont         VT    Cold  Rural Area
2    MIDWEST     Ohio         OH    Cold  Rural Area
3       WEST  Montana         MT    Cold  Rural Area
4       WEST    Idaho         ID    Cold  Rural Area

In [12]:
print(year_construction.head())

           STATE  Total_households  Pct_BUILT_BEFORE_1950  Pct_BUILT_1950S  \
0   Rhode Island      4.186890e+05                  31.92            11.54
1       New York      7.521120e+06                  36.70            16.32
2    Connecticut      1.381897e+06                  28.00            14.54
3  Massachusetts      2.713778e+06                  35.75            11.17
4     New Jersey      3.393983e+06                  25.71            12.05

   Pct_BUILT_1960S  Pct_BUILT_1970S  Pct_BUILT_1980S  Pct_BUILT_1990S  \
0            10.39            17.82            14.09             6.00
1            11.26             9.73             8.14             7.95
2            12.23            13.65            12.78             8.39
3            10.78            11.81            11.62             7.15
4            16.02            12.16            11.43            10.77

   Pct_BUILT_2000S  Pct_BUILT_2010_2015  Pct_BUILT_2016_2020  \
0             5.17                 1.70                 1.37
1             5.26                 2.70                 1.93
2             6.19                 2.37                 1.85
3             6.50                 2.71                 2.49
4             8.30                 2.24                 1.32

   BUILT_BEFORE_1950   BUILT_1950S    BUILT_1960S    BUILT_1970S  \
0       1.336459e+05  4.832927e+04   43505.264461   74603.159530
1       2.760491e+06  1.227792e+06  846603.533276  732072.889078
2       3.869912e+05  2.009616e+05  168987.878665  188571.488147
3       9.702057e+05  3.031944e+05  292516.344923  320606.131060
4       8.726802e+05  4.090390e+05  543630.760356  412757.738646

     BUILT_1980S    BUILT_1990S    BUILT_2000S  BUILT_2010_2015  \
0   58973.828566   25134.996395   21640.130713      7099.962767
1  612310.969540  598073.725500  395401.978019    202993.511836
2  176556.030761  116006.583965   85520.135967     32700.467929
3  315399.695393  194129.589212  176443.284900     73649.463999
4  387992.234765  365644.944134  281539.791102     76032.123665

   BUILT_2016_2020
0      5756.468877
1    145380.296735
2     25601.592133
3     67633.412846
4     44666.201525

In [13]:
print(ac_equipment.head())

           STATE  Total_households  Pct_USE_AC  Pct_DONT_USE_AC  \
0         Alaska     257193.000000        6.94            93.06
1          Maine     564534.999999       70.45            29.55
2        Vermont     258824.000000       66.96            33.04
3         Hawaii     474378.000000       56.98            43.02
4  New Hampshire     538443.000000       77.71            22.29

   Pct_MAIN_AC_AGE_0_2  Pct_MAIN_AC_AGE_2_4  Pct_MAIN_AC_AGE_5_9  \
0                 3.35                 1.15                 1.28
1                17.44                24.36                19.25
2                13.25                17.98                22.00
3                13.87                18.80                12.91
4                12.79                21.53                25.22

   Pct_MAIN_AC_AGE_10_14  Pct_MAIN_AC_AGE_15_19  \
0                   0.00                   0.61
1                   5.24                   2.65
2                   8.67                   2.53
3                   4.40                   3.24
4                   7.97                   6.42

   Pct_MAIN_AC_AGE_OLDER_THAN_20         USE_AC    DONT_USE_AC  \
0                           0.54   17852.312657  239340.687343
1                           1.51  397711.096948  166823.903052
2                           2.52  173312.777612   85511.222388
3                           3.76  270298.825823  204079.174177
4                           3.79  418402.537477  120040.462523

   MAIN_AC_AGE_0_2  MAIN_AC_AGE_2_4  MAIN_AC_AGE_5_9  MAIN_AC_AGE_10_14  \
0      8612.944397      2969.123372      3291.675396           0.000000
1     98456.215564    137516.287094    108692.424083       29570.122265
2     34288.121404     46546.405262     56942.776467       22448.695488
3     65787.820780     89191.496436     61252.349135       20870.345833
4     68860.034897    115906.713044    135799.495764       42900.131061

   MAIN_AC_AGE_15_19  MAIN_AC_AGE_OLDER_THAN_20
0        1580.349013                1398.220480
1       14934.839023                8541.208919
2        6555.014180                6531.764812
3       15367.156178               17829.657461
4       34551.794728               20384.367982

In [14]:
print(space_heater.head())

           STATE  Total_households  Pct_USE_HEATER  Pct_DONT_USE_HEATER  \
0  New Hampshire      5.384430e+05           100.0                  0.0
1           Iowa      1.281948e+06           100.0                  0.0
2      Minnesota      2.229783e+06           100.0                  0.0
3          Idaho      6.565110e+05           100.0                  0.0
4          Maine      5.645350e+05           100.0                  0.0

   Pct_MAIN_HEAT_AGE_0_2  Pct_MAIN_HEAT_AGE_2_4  Pct_MAIN_HEAT_AGE_5_9  \
0                  12.18                   9.25                  16.43
1                   9.97                  11.71                  20.97
2                   6.04                   9.72                  25.59
3                   8.97                  13.47                  22.68
4                   8.22                  10.02                  17.10

   Pct_MAIN_HEAT_AGE_10_14  Pct_MAIN_HEAT_AGE_15_19  \
0                    22.57                     9.35
1                    22.49                    13.97
2                    21.51                    14.38
3                    19.94                    10.88
4                    21.23                    14.93

   Pct_MAIN_HEAT_AGE_OLDER_THAN_20    USE_HEATER  DONT_USE_HEATER  \
0                            30.23  5.384430e+05              0.0
1                            20.89  1.281948e+06              0.0
2                            22.76  2.229783e+06              0.0
3                            24.06  6.565110e+05              0.0
4                            28.50  5.645350e+05              0.0

   MAIN_HEAT_AGE_0_2  MAIN_HEAT_AGE_2_4  MAIN_HEAT_AGE_5_9  \
0       65593.552139       49779.729211       88447.054701
1      127816.453325      150166.706674      268884.699687
2      134772.756376      216750.174103      570517.391100
3       58880.585691       88436.664356      148870.363243
4       46403.380221       56559.257909       96562.888712

   MAIN_HEAT_AGE_10_14  MAIN_HEAT_AGE_15_19  MAIN_HEAT_AGE_OLDER_THAN_20
0        121512.479221         50341.344352                162768.840375
1        288266.415674        179060.023901                267753.700740
2        479622.190768        320590.875920                507529.611733
3        130906.102062         71444.890192                157972.394457
4        119855.155438         84276.494734                160877.822985

In [15]:
print(water_heater.head())

          STATE  Total_households  Pct_MAIN_WATER_HEAT_AGE_0_2  \
0  Rhode Island      4.186890e+05                        18.86
1      Oklahoma      1.492833e+06                        14.69
2       Alabama      1.900406e+06                        11.60
3       Florida      8.062164e+06                        15.94
4      Illinois      4.900521e+06                        15.39

   Pct_MAIN_WATER_HEAT_AGE_2_4  Pct_MAIN_WATER_HEAT_AGE_5_9  \
0                        17.86                        29.91
1                        20.52                        32.13
2                        16.09                        38.59
3                        21.35                        33.95
4                        17.80                        33.21

   Pct_MAIN_WATER_HEAT_AGE_10_14  Pct_MAIN_WATER_HEAT_AGE_15_19  \
0                          17.64                           4.69
1                          23.05                           4.75
2                          24.37                           5.49
3                          18.72                           5.72
4                          21.29                           6.24

   Pct_MAIN_WATER_HEAT_AGE_OLDER_THAN_20  MAIN_WATER_HEAT_AGE_0_2  \
0                                  11.04             7.894982e+04
1                                   4.87             2.192551e+05
2                                   3.85             2.204625e+05
3                                   4.33             1.284840e+06
4                                   6.07             7.543701e+05

   MAIN_WATER_HEAT_AGE_2_4  MAIN_WATER_HEAT_AGE_5_9  \
0             7.479618e+04             1.252494e+05
1             3.062674e+05             4.795754e+05
2             3.058345e+05             7.334150e+05
3             1.721126e+06             2.736763e+06
4             8.722191e+05             1.627433e+06

   MAIN_WATER_HEAT_AGE_10_14  MAIN_WATER_HEAT_AGE_15_19  \
0               7.386529e+04               19616.958507
1               3.441213e+05               70944.996938
2               4.631350e+05              104403.106466
3               1.509414e+06              461018.128178
4               1.043152e+06              305947.944880

   MAIN_WATER_HEAT_AGE_OLDER_THAN_20
0                       46211.376416
1                       72668.736066
2                       73155.931131
3                      349002.874260
4                      297398.775254

In [18]:
# Drop duplicate columns before merge (keeping the one from 'consumption')
for df in [housing, income, year_construction, ac_equipment, space_heater, water_heater]:
    if 'Total_households' in df.columns:
        df.drop(columns=['Total_households'], inplace=True)
# Merge all datasets on 'STATE'
data = consumption.merge(housing, on='STATE', how='inner')
data = data.merge(income, on='STATE', how='inner')
data = data.merge(geographic, on='STATE', how='inner')
data = data.merge(year_construction, on='STATE', how='inner')
data = data.merge(ac_equipment, on='STATE', how='inner')
data = data.merge(space_heater, on='STATE', how='inner')
data = data.merge(water_heater, on='STATE', how='inner')

# Inspect the merged dataset
print("Shape:", data.shape)
print(data.head())
print("\nColumns:\n", data.columns.tolist())

Shape: (51, 116)
          STATE  TOTAL_HOUSEHOLDS  TOTAL_ENERGY_CONSUMPTION  \
0      Colorado      2.259861e+06              1.976426e+11
1          Utah      1.039997e+06              9.670222e+10
2         Idaho      6.565110e+05              5.854694e+10
3       Montana      4.333290e+05              3.797194e+10
4  North Dakota      3.155730e+05              2.975081e+10

   ENERGY_CONSUMPTION_PER_HOUSEHOLD  ENERGY_CONSUMPTION_PER_SQFT  \
0                          87457.88                        43.74
1                          92983.17                        43.08
2                          89178.92                        45.09
3                          87628.42                        46.71
4                          94275.53                        46.75

   TOTAL_ENERGY_EXPENDITURE  ENERGY_EXPENDITURE_PER_HOUSEHOLD  \
0              3.031693e+09                           1341.54
1              1.712785e+09                           1646.91
2              9.979737e+08                           1520.12
3              6.547174e+08                           1510.90
4              5.199315e+08                           1647.58

   ENERGY_EXPENDITURE_PER_SQFT  Pct_HOUSING_MOBILE  \
0                         0.67                4.68
1                         0.76                2.38
2                         0.77                7.26
3                         0.81               10.09
4                         0.82                4.89

   Pct_HOUSING_SINGLE_FAMILY_HOME_DETACHED  ...  Pct_MAIN_WATER_HEAT_AGE_5_9  \
0                                    63.47  ...                        33.18
1                                    70.35  ...                        26.43
2                                    74.09  ...                        31.76
3                                    66.43  ...                        27.13
4                                    55.74  ...                        30.70

   Pct_MAIN_WATER_HEAT_AGE_10_14  Pct_MAIN_WATER_HEAT_AGE_15_19  \
0                          20.81                           6.54
1                          15.66                           8.35
2                          18.50                           9.53
3                          19.13                          12.82
4                          22.97                          12.41

   Pct_MAIN_WATER_HEAT_AGE_OLDER_THAN_20  MAIN_WATER_HEAT_AGE_0_2  \
0                                   4.58            384458.091374
1                                   4.52            182050.721579
2                                   7.12            106115.838914
3                                   6.28             76042.285007
4                                  10.30             29725.903148

   MAIN_WATER_HEAT_AGE_2_4  MAIN_WATER_HEAT_AGE_5_9  \
0            404058.176367            749905.023632
1            286431.162853            274863.808804
2            111083.048561            208513.333813
3             74044.951987            117576.442266
4             44765.239619             96896.476354

   MAIN_WATER_HEAT_AGE_10_14  MAIN_WATER_HEAT_AGE_15_19  \
0              470203.981838              147795.237309
1              162869.184934               86819.874445
2              121469.250446               62590.655476
3               82907.035462               55537.924688
4               72495.320365               39172.256255

   MAIN_WATER_HEAT_AGE_OLDER_THAN_20
0                      103440.489480
1                       46962.247385
2                       46738.872791
3                       27220.360591
4                       32517.804259

[5 rows x 116 columns]

Columns:
 ['STATE', 'TOTAL_HOUSEHOLDS', 'TOTAL_ENERGY_CONSUMPTION', 'ENERGY_CONSUMPTION_PER_HOUSEHOLD', 'ENERGY_CONSUMPTION_PER_SQFT', 'TOTAL_ENERGY_EXPENDITURE', 'ENERGY_EXPENDITURE_PER_HOUSEHOLD', 'ENERGY_EXPENDITURE_PER_SQFT', 'Pct_HOUSING_MOBILE', 'Pct_HOUSING_SINGLE_FAMILY_HOME_DETACHED', 'Pct_HOUSING_SINGLE_FAMILY_HOME_ATTACHED', 'Pct_HOUSING_APT_2_4_UNITS', 'Pct_HOUSING_APT_MORE_THAN_5_UNITS', 'HOUSING_MOBILE', 'HOUSING_SINGLE_FAMILY_HOME_DETACHED', 'HOUSING_SINGLE_FAMILY_HOME_ATTACHED', 'HOUSING_APT_2_4_UNITS', 'HOUSING_APT_MORE_THAN_5_UNITS', 'Pct_INCOME_LESS_THAN_5K', 'Pct_INCOME_5K_7499', 'Pct_INCOME_7_5K_9999', 'Pct_INCOME_10K_12499', 'Pct_INCOME_12_5K_14999', 'Pct_INCOME_15K_19999', 'Pct_INCOME_20K_24999', 'Pct_INCOME_25K_29999', 'Pct_INCOME_30K_34999', 'Pct_INCOME_35K_39999', 'Pct_INCOME_40K_49999', 'Pct_INCOME_50K_59999', 'Pct_INCOME_60K_74999', 'Pct_INCOME_75K_99999', 'Pct_INCOME_100K_149999', 'Pct_INCOME_MORE_THAN_150K', 'INCOME_LESS_THAN_5K', 'INCOME_5K_7499', 'INCOME_7_5K_9999', 'INCOME_10K_12499', 'INCOME_12_5K_14999', 'INCOME_15K_19999', 'INCOME_20K_24999', 'INCOME_25K_29999', 'INCOME_30K_34999', 'INCOME_35K_39999', 'INCOME_40K_49999', 'INCOME_50K_59999', 'INCOME_60K_74999', 'INCOME_75K_99999', 'INCOME_100K_149999', 'INCOME_MORE_THAN_150K', 'REGION', 'STATE_CODE', 'CLIMATE', 'URBAN_RURAL', 'Pct_BUILT_BEFORE_1950', 'Pct_BUILT_1950S', 'Pct_BUILT_1960S', 'Pct_BUILT_1970S', 'Pct_BUILT_1980S', 'Pct_BUILT_1990S', 'Pct_BUILT_2000S', 'Pct_BUILT_2010_2015', 'Pct_BUILT_2016_2020', 'BUILT_BEFORE_1950', 'BUILT_1950S', 'BUILT_1960S', 'BUILT_1970S', 'BUILT_1980S', 'BUILT_1990S', 'BUILT_2000S', 'BUILT_2010_2015', 'BUILT_2016_2020', 'Pct_USE_AC', 'Pct_DONT_USE_AC', 'Pct_MAIN_AC_AGE_0_2', 'Pct_MAIN_AC_AGE_2_4', 'Pct_MAIN_AC_AGE_5_9', 'Pct_MAIN_AC_AGE_10_14', 'Pct_MAIN_AC_AGE_15_19', 'Pct_MAIN_AC_AGE_OLDER_THAN_20', 'USE_AC', 'DONT_USE_AC', 'MAIN_AC_AGE_0_2', 'MAIN_AC_AGE_2_4', 'MAIN_AC_AGE_5_9', 'MAIN_AC_AGE_10_14', 'MAIN_AC_AGE_15_19', 'MAIN_AC_AGE_OLDER_THAN_20', 'Pct_USE_HEATER', 'Pct_DONT_USE_HEATER', 'Pct_MAIN_HEAT_AGE_0_2', 'Pct_MAIN_HEAT_AGE_2_4', 'Pct_MAIN_HEAT_AGE_5_9', 'Pct_MAIN_HEAT_AGE_10_14', 'Pct_MAIN_HEAT_AGE_15_19', 'Pct_MAIN_HEAT_AGE_OLDER_THAN_20', 'USE_HEATER', 'DONT_USE_HEATER', 'MAIN_HEAT_AGE_0_2', 'MAIN_HEAT_AGE_2_4', 'MAIN_HEAT_AGE_5_9', 'MAIN_HEAT_AGE_10_14', 'MAIN_HEAT_AGE_15_19', 'MAIN_HEAT_AGE_OLDER_THAN_20', 'Pct_MAIN_WATER_HEAT_AGE_0_2', 'Pct_MAIN_WATER_HEAT_AGE_2_4', 'Pct_MAIN_WATER_HEAT_AGE_5_9', 'Pct_MAIN_WATER_HEAT_AGE_10_14', 'Pct_MAIN_WATER_HEAT_AGE_15_19', 'Pct_MAIN_WATER_HEAT_AGE_OLDER_THAN_20', 'MAIN_WATER_HEAT_AGE_0_2', 'MAIN_WATER_HEAT_AGE_2_4', 'MAIN_WATER_HEAT_AGE_5_9', 'MAIN_WATER_HEAT_AGE_10_14', 'MAIN_WATER_HEAT_AGE_15_19', 'MAIN_WATER_HEAT_AGE_OLDER_THAN_20']